@keyframes up {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.animation-up {
    animation-name: up;
    animation-duration: 300ms;
}

@keyframes down {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.animation-down {
    animation-name: down;
    animation-duration: 300ms;
}

@keyframes left {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.animation-left {
    animation-name: left;
    animation-duration: 700ms;
}